*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2{
    font-size: 18px;
    color: rgb(75, 143, 134);
    display: inline-block;
    border:2px solid brown;
    padding: 5px 10px;
    margin-left: 35%;
    margin-top: 15px;
}
